extends layout

block content
  h1 New Message
  form(method='POST', action='/new')
      label(for='messageUser') Name
      input(type='text', name='messageUser')
      label(for='messageText') Message
      input(type='text', name='messageText')
      input(type='submit', value='Submit')